<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style type="text/css">
        #FirmName{
            color: black;
            size: 20px;
            text-align: center;
            font-weight: 100;
            padding: 80px 0px 20px 0px;
        }
        body{
            background-color: beige;
            text-align: center;
        }
        #link1{
            color:lightcoral;
        }

    </style>
</head>
<body>
    <div id="FirmName">
        Hello From Sadiq's Firm
    </div>
    <a id="link1" href="http://127.0.0.1:8000/print_details">Click here for Generate Invoices</a>
    <br>
    <br>
    <a id="link1" href="http://127.0.0.1:8000/admin">Click here to go to admin page</a> 
</body>
</html>