<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table tr:nth-child(1) {
            visibility: collapse;
        }
    </style>
    <title>Print Details</title>
</head>

<body>

    <h2>Fill the details to be printed</h2>
    {{form.non_field_errors}}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Submit</button>
    </form>
</body>

</html>